body {
    background-color: #232323;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.block {
    background-color: #4e4e4e;
}

.photoBlock {
    position: relative;
    margin: 0% 25% 0% 5%;
    width: 1330px;
    height: 300px;
    border-radius: 8px;
}

.NavigationBlock {
    position: relative;
    width: 300px;
    height: 700px;
    left: 76%;
    border-radius: 8px;
}

.button {
    border-color: white;
    color: white;
    border-radius: 5px;
    background-color: #4f4f4f;
    transition: all 0.3s;
    font-size: 40px;
    
}

.button:hover {
    transform: scale(1.30);
}

.homeButton {
    position: relative; 
    left: 80px;
    top: 30px;
}

.journeyButton {
    position: relative; 
    left: 50px;
    top: 60px;
}

.aboutButton {
    position: relative; 
    left: 78px;
    top: 90px;
}

.contactButton {
    position: relative; 
    left: 55px;
    top: 120px;
}

.chessButton {
    position: relative; 
    left: 78px;
    bottom: -320px;
}

.otherSocialsText {
    position: relative;
    left: 95px;
    top: 140px;
}

.socialsButtons {
    
    width: 50px;
    height: 50px;
}

.instagram {
    position: relative;
    top: 150px;
    left: 20px;
    transition: all 0.3s;
}

.instagram:hover {
    transform: scale(1.30);
}

.github {
    position: relative;
    top: 150px;
    left: 45px;
    width: 60px;
    transition: all 0.3s;
}

.github:hover {
    transform: scale(1.30);
}

.discord {
    position: relative;
    top: 150px;
    left: 60px;
    transition: all 0.3s;
}

.discord:hover {
    transform: scale(1.30);
}

.itchio {
    position: relative;
    top: 215px;
    left: -150px;
    transition: all 0.3s;
}

.itchio:hover {
    transform: scale(1.30);
}